.user {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}

.userName {
    background-color:#FF8900;
}